.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.video-thumbnail::before {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f144";
    font-family: FontAwesome;
    font-size: 60px;
    color: #fff;
    opacity: 0.8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}


.video-thumbnail:hover::before {
    color: #eee;
    content: "\f144";
    font-family: FontAwesome;
    font-size: 60px;
    color: #fff;
}