.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(70vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.video__link {
    margin: 1em 0;
    display: inline-block;
    line-height: 0;
    border-radius: 100px;
    transition: .2s ease-in-out
}

.video__link:after {
    content: "";
    display: inline-block;
    background-image: url(./img/sprite.png);
    background-position: -88px -176px;
    background-size: 369px 323px;
    width: 73px;
    height: 73px
}

.video__link:hover {
    background: #1462a8;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: 1.5s ease-in-out infinite videopulse;
    animation: 1.5s ease-in-out infinite videopulse
}
